@page
@{
}
<script src="~/lib/signalr/dist/browser/signalr.js"></script>
<script>
    var connection;
    function connect() {
        var token = document.querySelector("#token").value;
        connection = new signalR.HubConnectionBuilder()
            .withUrl("/hubs/rooms", { accessTokenFactory: () => token })
            .build();

        connection.on("OnConnected", (success, message) => {
            console.log(success, message);
        });

        connection.on("UpdateUserList", (users) => {
            console.log('users', users);
        });

        connection.on("UpdateEstimates", (estimates) => {
            console.log('estimates', estimates);
        });

        connection.on("Disconnect", () => {
            connection.stop();
        });

        connection.start().catch((err) => {
            return console.log(err.toString());
        });
    }

    function subscribe() {
        var roomId = document.querySelector("#roomId").value;
        var password = document.querySelector("#password").value;
        connection
            .invoke("Subscribe", parseInt(roomId), password)
            .catch(function (err) {
                return console.log(err.toString());
            });
    }
    function unsubscribe() {
        var roomId = document.querySelector("#roomId").value;
        connection
            .invoke("Unsubscribe", parseInt(roomId))
            .then(() => {
                connection.stop();
            })
            .catch((err) => {
                return console.log(err.toString());
            });
    }
    function addEstimate() {
        var roomId = document.querySelector("#roomId").value;
        var estimate = document.querySelector("#estimate").value;
        connection
            .invoke("AddEstimate", parseInt(roomId), estimate)
            .catch((err) => {
                return console.log(err.toString());
            });
    }
    function showEstimates() {
        var roomId = document.querySelector("#roomId").value;
        connection
            .invoke("ShowEstimates", parseInt(roomId))
            .catch((err) => {
                return console.log(err.toString());
            });
    }
    function showEstimates() {
        var roomId = document.querySelector("#roomId").value;
        connection
            .invoke("ClearEstimates", parseInt(roomId))
            .catch((err) => {
                return console.log(err.toString());
            });
    }
</script>

<span>Token:</span><input id="token" value="" />
<button onclick="connect()">Connect</button><br />
                                            <br />
<span>RoomId:</span><input id="roomId" value="" /><br />
<span>Room pass:</span><input id="password" value="pass" /><br />
                                                           <br />
<button onclick="subscribe()">Subscribe</button>
<button onclick="unsubscribe()">Unsubscribe</button><br />
                                                    <br />
<span>Estimate:</span><input id="estimate" value="" /><br />
<button onclick="addEstimate()">Change estimate</button><br />
<button onclick="showEstimates()">Show estimates</button><br />
<button onclick="clearEstimates()">Clear estimates</button><br />