@page
@{
}
<script src="~/lib/signalr/dist/browser/signalr.js"></script>
<script>
    var roomId = 1;
    var connection;
    function connect() {
        var token = document.querySelector("#token").value;
        connection = new signalR.HubConnectionBuilder()
            .withUrl("/hubs/rooms", { accessTokenFactory: () => token })
            .build();

        connection.on("OnConnected", (success, message) => {
            console.log(success, message);
        });

        connection.on("UpdateUserList", (users) => {
            console.log(users);
        });

        connection.start().catch(function(err) {
            return console.log(err.toString());
        });
    }
    
    function subscribe() {
        connection
            .invoke("Subscribe", roomId, "pass")
            .catch(function(err) {
                return console.log(err.toString());
            });
    }
    function unsubscribe() {
        connection
            .invoke("Unsubscribe", roomId)
            .catch(function (err) {
                return console.log(err.toString());
            });
    }
</script>

<span>Token:</span>
<input id="token" value=""/>
<button onclick="connect()">Connect</button><br/>
<button onclick="subscribe()">Subscribe</button><br />
<button onclick="unsubscribe()">Unsubscribe</button>