@page
@{
}
<script src="~/lib/signalr/dist/browser/signalr.js"></script>
<script>
    var connection;
    function connect() {
        var token = document.querySelector("#token").value;
        connection = new signalR.HubConnectionBuilder()
            .withUrl("/hubs/rooms", { accessTokenFactory: () => token })
            .build();

        connection.on("OnConnected", (success, message) => {
            console.log(success, message);
        });

        connection.on("UpdateUserList", (users) => {
            console.log(users);
        });

        connection.on("Disconnect", () => {
            connection.stop();
        });

        connection.start().catch((err) => {
            return console.log(err.toString());
        });
    }

    function subscribe() {
        var roomId = document.querySelector("#token").value;
        connection
            .invoke("Subscribe", parseInt(roomId), "pass")
            .catch(function (err) {
                return console.log(err.toString());
            });
    }
    function unsubscribe() {
        connection
            .invoke("Unsubscribe", roomId)
            .then(() => {
                connection.stop();
            })
            .catch((err) => {
                return console.log(err.toString());
            });
    }
</script>

<span>Token:</span>
<input id="token" value="" />
<button onclick="connect()">Connect</button><br />
<input id="roomId" value="" /><br/>
<button onclick="subscribe()">Subscribe</button><br />
<button onclick="unsubscribe()">Unsubscribe</button>